* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: serif;
  background: white;
  color: black;
}

/* HEADER */
.header {
  padding: 20px 40px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav a {
  margin-right: 20px;
  text-decoration: none;
  color: black;
}

.logo {
  font-weight: bold;
  letter-spacing: 2px;
}

/* SOCIAL ICONS */
.social a {
  margin-left: 15px;
  font-size: 18px;
  color: black;
}

.social a:hover {
  opacity: 0.6;
}

/* HERO */
.hero {
  text-align: center;
  margin-top: 150px;
}

.hero h1 {
  font-size: 52px;
}

.hero h2 {
  font-size: 32px;
  font-weight: normal;
}
